body {
  background: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: rgb(68, 68, 68);
}

#table-container {
  background-color: #fff;
  text-align: center;
  position: relative;
  top: 120px;
  padding: 20px;
  width: fit-content;
  margin: auto;
  border-radius: 10px;
}

th{
    background-color: rgb(115, 108, 108);
    color: #fff;
    font-size: 20px;
}

table,
tr,th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
}

td, th{
    padding: 18px 150px;
    transition: all 0.3s;
    font-size: 18px;
}

tr td:first-child, tr th:first-child{
  padding: 8px 20px;
}

td:hover{
  background-color: rgb(182, 177, 177);
  color: rgb(32, 32, 32);
}

.accordion{
  position: relative;
  top: 200px;
  text-align: center;
  margin: 0 200px;
}

.card-body ul li a{
  display: block;
  border: rgb(78, 77, 77) solid;
  border-width: 1px;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 0;
}